<div class="schedule-assign">
  <div class="schedule-assign__modal">
    <div class="schedule-assign__title">
      <h1>
        <img src="/assets/{{ section.type === 'meals' ? 'food' : 'workout'}}.svg" alt="Section type icon">
        Assign {{ section.type }}
      </h1>
      <a
        class="btn__add"
        [routerLink]="getRoute(section.type)">
        <img src="/assets/add-white.svg" alt="Add new item">
        <span>Add new {{ section.type }}</span>
      </a>
    </div>

    <div class="schedule-assign__list">
      <span
        *ngIf="!list?.length; else showList"
        class="schedule-assign__empty">
        <img src="/assets/face.svg" alt="Face icon">
        Nothing to assign
      </span>

      <ng-template #showList>
        <div
          *ngFor="let item of list"
          [class.active]="exists(item.name)"
          (click)="toggleItem(item.name)">
          {{ item.name }}
        </div>
      </ng-template>
    </div>

    <div class="schedule-assign__submit">
      <div>
        <button
          type="button"
          class="button"
          (click)="updateAssign()">
          Update
        </button>
        <button
          type="button"
          class="button button--cancel"
          (click)="cancelAssign()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
